---json
{
  "layout": false,
  "eleventyExcludeFromCollections": true,
  "permalink": "/index.xml"
}
---
<%_ const pages = collections.feed _%>
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title><%= meta.title %></title>
  <subtitle><%= meta.description %></subtitle>
  <link href="<%= meta.domain %>/index.xml" rel="self"/>
  <link href="<%= meta.domain %>"/>
  <updated><%= pages[0].date.toISOString() %></updated>
  <id><%= meta.domain %></id>
  <author>
    <name><%= meta.title %></name>
  </author>
  <% pages.forEach(page => { %>
  <entry>
    <title><%= page.data.title %></title>
    <link href="<%= meta.domain %><%= page.url %>"/>
    <updated><%= page.date.toISOString() %></updated>
    <id><%= meta.domain %><%= page.url %></id>
    <content type="html"><%= page.templateContent %></content>
  </entry>
<% }) %>
</feed>