<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1.0,maximum-scale=5.0,viewport-fit=cover">
  <meta property="og:url" content="<%= meta.domain %><%= page.url %>" />
  <% if(typeof title === "string") { %>
    <title><%= title %> — <%= meta.title %></title>
    <meta property="og:title" content="<%= title %> — <%= meta.title %>" />
    <meta name="twitter:title" content="<%= title %> — <%= meta.title %>" />
  <% } else { %>
    <title><%= meta.title %></title>
    <meta property="og:title" content="<%= meta.title %>" />
    <meta name="twitter:title" content="<%= meta.title %>" />
  <% } %>
  <meta property="og:type" content="article" />
  <% if(typeof image === "string") { %>
    <meta property="og:image" content="<%= meta.domain %><%= page.url %><%= image %>" />
    <meta name="twitter:image" content="<%= meta.domain %><%= page.url %><%= image %>" />
    <meta name="twitter:card" content="summary_large_image" />
  <% } else { %>
    <meta property="og:image" content="<%= meta.domain %><%= meta.image %>" />
    <meta name="twitter:image" content="<%= meta.domain %><%= meta.image %>" />
    <meta name="twitter:card" content="summary" />
  <% } %>
  <% if(typeof summary === "string") { %>
    <meta name="description" content="<%= summary %>">
    <meta property="og:description" content="<%= summary %>" />
    <meta name="twitter:description" content="<%= summary %>" />
  <% } else { %>
    <meta name="description" content="<%= meta.description %>">
    <meta property="og:description" content="<%= meta.description %>" />
    <meta name="twitter:description" content="<%= meta.description %>" />
  <% } %>
  <meta name="twitter:site" content="@<%= meta.social %>" />
  <meta name="author" content="<%= meta.title %>">
  <meta name="theme-color" content="#8F3A6D">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="<%= meta.title %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= meta.domain %>/icons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="<%= meta.domain %>/icons/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= meta.domain %>/icons/apple-touch-icon-180x180.png">
  <link rel="mask-icon" color="#8f46f6" href="<%= meta.domain %>/icons/safari-pinned-tab.svg">
  <link rel="icon" sizes="128x128" href="<%= meta.domain %>/icons/icon-128x128.png">
  <link rel="icon" sizes="192x192" href="<%= meta.domain %>/icons/icon-192x192.png">
  <link rel="icon" sizes="512x512" href="<%= meta.domain %>/icons/icon-512x512.png">
  <link rel="shortcut icon" href="<%= meta.domain %>/icons/favicon.png">
  <link rel="manifest" href="<%= meta.domain %>/manifest.json">

  <link href="<%= meta.domain %>/index.xml" rel="alternate" type="application/rss+xml" title="<%= meta.title %>">
  <link href="<%= meta.domain %>/feed.json" rel="alternate" type="application/json" title="<%= meta.title %>" />

  <link rel="preload" href="<%= meta.domain %>/fonts/Rubik-Regular-sub.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="<%= meta.domain %>/fonts/Rubik-Regular-sub.woff" as="font" type="font/woff" crossorigin>
  <link rel="preload" href="<%= meta.domain %>/fonts/Rubik-Bold-sub.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="<%= meta.domain %>/fonts/Rubik-Bold-sub.woff" as="font" type="font/woff" crossorigin>

  <style>
    @font-face {
      font-family: Rubik;
      src:
        url("<%= meta.domain %>/fonts/Rubik-Regular-sub.woff2") format("woff2"),
        url("<%= meta.domain %>/fonts/Rubik-Regular-sub.woff") format("woff");
      font-weight: 400;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: Rubik;
      src:
        url("<%= meta.domain %>/fonts/Rubik-Bold-sub.woff2") format("woff2"),
        url("<%= meta.domain %>/fonts/Rubik-Bold-sub.woff") format("woff");
      font-weight: 700;
      font-style: normal;
      font-display: swap;
    }
    <% if(typeof code === "boolean") { %>
      @font-face {
        font-family: Fira Code;
        src:
          url("<%= meta.domain %>/fonts/FiraCode-Regular.woff2") format("woff2"),
          url("<%= meta.domain %>/fonts/FiraCode-Regular.woff") format("woff");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
    <% } %>
    <%- include("./critical.css") %>
  </style>

  <script>
    <%- include("./fonts.js") %>
  </script>

 <link rel="stylesheet" href="<%= meta.domain %>/styles.css" media="all">
  <% if(typeof code === "boolean") { %>
    <link rel="prefetch" href="<%= meta.domain %>/syntax.css" onload="this.rel = 'stylesheet'">
    <noscript>
      <link rel="stylesheet" href="<%= meta.domain %>/syntax.css">
    </noscript>
  <% } %>
</head>